/* ==============
   Style de base
   ============== */

html {
  color: #222;
  background-color: #eee;
}

body {
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}

/* ==============
   mise en page
   ============== */

.acceuil {
  position: relative;
}
.acceuil .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1500px;
  transform: translate(-50%, -50%);
  /* background-color: #bfedc1; */

  /* font-family: "Comic Sans", "Courier", sans-serif;
  color: #e79ed1;
  font-style: bold; */
}

/* header {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

header a {
  text-decoration: none;
  font-size: 25px;
  font-family: "Comic Sans", "Courier", sans-serif;
  color: #bfedc1;
  font-style: bold;
}

.albums {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
}
/* =======================
   EXEMPLE de Media Query
   ======================= */

@media only screen and (min-width: 800px) {
  html {
    background-color: #76cae6;
  }
}
